html {
  height: 100%;
}

body {
  background: linear-gradient(
    111.1deg,
    rgb(0, 40, 70) -4.8%,
    rgb(255, 115, 115) 82.7%,
    rgb(255, 175, 123) 97.2%
  );

  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
  background-attachment: fixed;
}

h1 {
  color: #698996;
  font-size: 64px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding-top: 32px;
}

h2 {
  font-size: 24px;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  padding-bottom: 32px;
}

li {
  list-style: none;
  font-size: 16px;
  line-height: 24px;
  font-family: "Source Sans Pro", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

strong {
  font-size: 80px;
  line-height: 1;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}

img {
  width: 80px;
  height: 80px;
}

a {
  text-decoration: none;
}

small {
  color: #f1fffa;
  font-weight: lighter;
}

small a {
  text-decoration: none;
  color: #f1fffa;
  font-weight: bold;
}

input {
  font-family: "Source Sans Pro", sans-serif;
}
.active {
  color: black;
  cursor: default;
}

#weather-description {
  font-size: 24px;
  text-transform: capitalize;
}
.weather-temperature .units {
  font-size: 16px;
  position: relative;
  top: -16px;
  margin-left: 12px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.weather-app {
  padding: 20px;
  background-color: #f1fffa;
  border: 6px solid #698996;
  border-radius: 18px;
  color: #403b52;
}

.footer {
  text-align: center;
  padding-top: 16px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperature {
  font-size: 13px;
}
