h1 {
  color: #698996;
  font-size: 64px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding-top: 32px;
}

h2 {
  font-size: 24px;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  padding-bottom: 32px;
}

li {
  list-style: none;
  font-size: 16px;
  line-height: 24px;
  font-family: "Source Sans Pro", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

strong {
  font-size: 80px;
  line-height: 1;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}

img {
  width: 80px;
  height: 80px;
}

a {
  text-decoration: none;
}

small {
  color: black;
  font-weight: lighter;
}

small a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

input {
  font-family: "Source Sans Pro", sans-serif;
}

#greeting {
  text-align: center;
  color: black;
  font-size: 64px;
}

#weather-description {
  font-size: 24px;
  text-transform: capitalize;
}
.weather-temperature .units {
  font-size: 16px;
  position: relative;
  top: -16px;
  margin-left: 12px;
}

.weather-app-wrapper {
  max-width: 600px;
  border: 2px solid red;
  border-radius: 32px;
  margin: 0 auto;
  padding: 20px;
}

.footer {
  text-align: center;
  padding-top: 16px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperature {
  font-size: 13px;
}
